#section1 {
  background-color: #ffffff;
  ul {
    white-space: nowrap;
  }
  .btn {
    margin-top: 10px;
  }
}
#section2 {
  background-color: #e6e6e6;
  img {
    margin: -30px -30px;
  }
}
#section3 {
  padding: 50px 0;
  min-height: 240px;

  h2 {
    margin: 10px 0;
    color: #e3e3e3;
    font-weight: 700;
  }
}
#section4 {
  background-color: #ffffff;
}
