#section1 {
  background-color: #ffffff;
  ul {
    white-space: nowrap;
  }
  .btn {
    margin-top: 10px;
  }
}
#section2 {
  background-color: #e6e6e6;
  img {
    margin: -15px -30px;
  }
}
#section3 {
  height: 420px;
  background-image: url('/assets/girl-ipad.jpg');

  h2 {
    color: #e3e3e3;
    font-weight: 700;
  }
}
#section4 {
  background-color: #ffffff;
}
